# Rom Extras

on init
    export ANDROID_CACHE /cache

    chmod 0755 /sys/fs/cgroup

    mkdir /sys/fs/cgroup/bfqio 0755 root system
    mount cgroup none /sys/fs/cgroup/bfqio bfqio
    chown root system /sys/fs/cgroup/bfqio/tasks
    chmod 0664 /sys/fs/cgroup/bfqio/tasks
    chmod 0220 /sys/fs/cgroup/bfqio/cgroup.event_control

    mkdir /sys/fs/cgroup/bfqio/rt-display 0755 root system
    chown system system /sys/fs/cgroup/bfqio/rt-display/tasks
    chmod 0664 /sys/fs/cgroup/bfqio/rt-display/tasks
    chmod 0220 /sys/fs/cgroup/bfqio/rt-display/cgroup.event_control

    write /sys/fs/cgroup/bfqio/rt-display/bfqio.ioprio_class 1
    write /sys/fs/cgroup/bfqio/rt-display/bfqio.ioprio 7

on post-fs-data
    mkdir /data/ssh 0750 root shell
    mkdir /data/ssh/empty 0600 root shell
    mkdir /cache/recovery 0770 system cache

    chown system system /sys/block/mmcblk0/queue/scheduler
    chmod 0664 /sys/block/mmcblk0/queue/scheduler
    restorecon /sys/block/mmcblk0/queue/scheduler
    
    chown system system /sys/block/mmcblk1/queue/scheduler
    chmod 0664 /sys/block/mmcblk1/queue/scheduler
    restorecon /sys/block/mmcblk1/queue/scheduler

    setprop net.tcp.delack.default     1
    setprop net.tcp.delack.lte         8
    setprop net.tcp.delack.wifi        20
    setprop net.tcp.usercfg.default    0
    setprop net.tcp.usercfg.lte        1
    setprop net.tcp.usercfg.wifi       1

    mkdir /persist/properties 0770 system system

on property:dev.bootcomplete=1
    start sysctl
    start sysinit
    
on property:adb.network.port=*
    setprop service.adb.tcp.port ${adb.network.port}

on property:service.adb.tcp.port=5555
    stop adbd
    start adbd

on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

on property:ro.radio.noril=1
    stop ril-daemon

on property:persist.radio.noril=1
    setprop ro.radio.noril 1

service sysinit /system/bin/sysinit
    user root
    oneshot
    disabled

service sysctl /system/bin/sysctl -p /system/etc/sysctl.conf
    user root
    oneshot
    disabled
