# Rom Extras

import /init.superuser.rc

on init
    export ANDROID_CACHE /cache

    chmod 0755 /sys/fs/cgroup
    mkdir /sys/fs/cgroup/bfqio 0755 root system
    mount cgroup none /sys/fs/cgroup/bfqio bfqio
    chown root system /sys/fs/cgroup/bfqio/tasks
    chmod 0664 /sys/fs/cgroup/bfqio/tasks
    chmod 0220 /sys/fs/cgroup/bfqio/cgroup.event_control

    mkdir /sys/fs/cgroup/bfqio/rt-display 0755 root system
    write /sys/fs/cgroup/bfqio/rt-display/bfqio.ioprio_class 1
    write /sys/fs/cgroup/bfqio/rt-display/bfqio.ioprio 7
    chown system system /sys/fs/cgroup/bfqio/rt-display/tasks
    chmod 0664 /sys/fs/cgroup/bfqio/rt-display/tasks
    chmod 0220 /sys/fs/cgroup/bfqio/rt-display/cgroup.event_control

on post-fs-data
    mkdir /data/ssh 0750 root shell
    mkdir /data/ssh/empty 0600 root shell
    mkdir /cache/recovery 0770 system cache

    start sysinit

    chown system system /sys/block/mmcblk0/queue/scheduler
    chmod 0664 /sys/block/mmcblk0/queue/scheduler
    restorecon /sys/block/mmcblk0/queue/scheduler

    chown system system /sys/kernel/ipv4/tcp_delack_seg
    chown system system /sys/kernel/ipv4/tcp_use_userconfig

    setprop net.tcp.delack.default     1
    setprop net.tcp.delack.wifi        20
    setprop net.tcp.delack.lte         8
    setprop net.tcp.usercfg.default    0
    setprop net.tcp.usercfg.wifi       1
    setprop net.tcp.usercfg.lte        1

    mkdir /persist/properties 0770 system system

service sysinit /system/bin/sysinit
    user root
    oneshot
    disabled

on property:ro.product.model=Galaxy Tab 2 3G
    start cpboot-daemon
    
on property:adb.network.port=*
    setprop service.adb.tcp.port ${adb.network.port}

on property:service.adb.tcp.port=5555
    stop adbd
    start adbd

on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

on property:ro.radio.noril=1
    stop ril-daemon
    stop qmuxd
    stop netmgrd

on property:persist.radio.noril=1
    setprop ro.radio.noril 1
