subsystem adf
	devname uevent_devname

/dev/alarm                0664   system     radio
/dev/android_adb          0660   adb        adb
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root
/dev/bus/usb/*            0660   root       usb
/dev/full                 0666   root       root
/dev/graphics/*           0660   root       graphics
/dev/input/*              0660   root       input
/dev/mtp_usb              0660   root       mtp
/dev/null                 0666   root       root
/dev/ppp                  0660   radio      vpn
/dev/ptmx                 0666   root       root
/dev/random               0666   root       root
/dev/rtc0                 0640   system     system
/dev/snd/*                0660   system     audio
/dev/tty                  0666   root       root
/dev/tty0                 0660   root       system
/dev/ttyO1                0660   bluetooth  net_bt_stack
/dev/tun                  0660   system     vpn
/dev/uhid                 0660   system     net_bt_stack
/dev/uinput               0660   system     net_bt_stack
/dev/urandom              0666   root       root
/dev/usb_accessory        0660   root       usb
/dev/xt_qtaguid           0644   root       root
/dev/zero                 0666   root       root

/sys/devices/virtual/input/input*     enable      0660    root    input
/sys/devices/virtual/input/input*     poll_delay  0660    root    input
/sys/devices/virtual/usb_composite/*  enable      0664    root    system
