/dev/accelirq             0660   system   system
/dev/block/mmcblk0p4	  0660	 radio	  radio
/dev/block/mmcblk0p8      0660   radio    radio
/dev/cdma_boot0		  0660	 radio	  radio
/dev/cdma_ipc0		  0660	 radio	  radio
/dev/cdma_ramdump0        0660   radio    radio
/dev/cdma_rfs0		  0660	 radio	  radio
/dev/cdma_rmnet5	  0660	 radio	  radio
/dev/cdma_rmnet6	  0660	 radio	  radio
/dev/compassirq           0660   system   system
/dev/dsscomp              0666   system   system
/dev/gcioctl              0666   system	  system
/dev/hdcp		  0664	 root	  root
/dev/i2c-4             	  0660   system   system
/dev/lte_boot0		  0660	 radio	  radio
/dev/lte_ipc0		  0660	 radio	  radio
/dev/lte_ramdump0         0660   radio    radio
/dev/lte_rfs0		  0660	 radio	  radio
/dev/lte_rmnet4		  0660	 radio	  radio
/dev/lte_spi		  0660	 radio	  radio
/dev/modem_br             0660   radio    radio
/dev/mpu                  0660   system   system
/dev/mpuirq               0660   system   system
/dev/pvrsrvkm             0666   system   system
/dev/rpmsg-omx0           0660   system   drmrpc
/dev/rpmsg-omx1           0660   system   drmrpc
/dev/rproc_user           0660   system   drmrpc
/dev/tf_ctrl              0660   drmrpc   drmrpc
/dev/tf_driver            0660   drmrpc   drmrpc
/dev/tiler                0666   system   system
/dev/timerirq             0660   system   system
/dev/ttyGS0               0660   system   system
/dev/ttyGS1	          0660	 radio	  radio
/dev/ttyO0                0660   system   radio
/dev/umts_boot0           0660   radio    radio
/dev/umts_boot1           0660   radio    radio
/dev/umts_csd             0660   radio    system
/dev/umts_ipc0            0660   radio    radio
/dev/umts_ramdump0        0660   radio    radio
/dev/umts_rfs0            0660   radio    radio
/dev/umts_router          0660   radio    system

/sys/devices/system/cpu/cpufreq pegasusq/cpu_down_freq            0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/cpu_down_rate            0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/cpu_up_freq              0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/cpu_up_rate              0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/down_differential        0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/dvfs_debug               0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/freq_for_responsiveness  0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/freq_step                0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_freq_1_1         0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_freq_2_0         0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_freq_2_1         0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_freq_3_0         0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_freq_3_1         0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_freq_4_0         0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_lock             0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_rq_1_1           0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_rq_2_0           0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_rq_2_1           0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_rq_3_0           0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_rq_3_1           0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/hotplug_rq_4_0           0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/ignore_nice_load         0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/io_is_busy               0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/max_cpu_lock             0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/min_cpu_lock             0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/sampling_down_factor     0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/sampling_rate            0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/sampling_rate_min        0444  root    system
/sys/devices/system/cpu/cpufreq pegasusq/up_nr_cpus               0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/up_threshold             0660  system  system
/sys/devices/system/cpu/cpufreq pegasusq/up_threshold_at_min_freq 0660  system  system
