/dev/dsscomp              0666   system   system
/dev/i2c-4             	  0660   system   system
/dev/ion                  0777   root     root
/dev/modem_br             0660   radio    radio
/dev/pvrsrvkm             0666   system   system
/dev/rpmsg-omx0           0660   system   drmrpc
/dev/rpmsg-omx1           0660   system   drmrpc
/dev/rproc_user           0660   system   drmrpc
/dev/tf_ctrl              0660   drmrpc   drmrpc
/dev/tf_driver            0660   drmrpc   drmrpc
/dev/tiler                0666   system   system
/dev/ttyGS0               0660   system   system
/dev/ttyGS1	          0660	 radio	  radio
/dev/ttyO0                0660   root     system
/dev/umts_boot0           0660   radio    radio
/dev/umts_boot1           0660   radio    radio
/dev/umts_csd             0660   radio    system
/dev/umts_ipc0            0660   radio    radio
/dev/umts_ramdump0        0660   radio    radio
/dev/umts_rfs0            0660   radio    radio
/dev/umts_router          0660   radio    system
